# part2: 외부 파일 읽기 / 쓰기

In [ ]:
# 1. 외부파일 읽기
# 1.1 csv 파일 읽기: pd.read_csv()
import pandas as pd

In [ ]:
path = './data'
file_name = path + '/read_csv_sample.csv'

df = pd.read_csv(file_name) # 0행이 header
df

In [ ]:
df = pd.read_csv(file_name, header=None) # header 없이 read
df

In [ ]:
df = pd.read_csv(file_name, header=1) # header 1부터 시작
df

In [ ]:
df = pd.read_csv(file_name, names=['c0','c1','c2','c3']) # 컬럼 명 지정
df

In [ ]:
df = pd.read_csv(file_name, index_col='c0') # c0 인덱스 컬럼 지정
df

In [ ]:
df = pd.read_csv(file_name)
df

In [ ]:
df.set_index('c0', inplace=True) # c0 인덱스 컬럼 지정
df

In [ ]:
# 1-2. Excel 파일 읽기 : pd.read_excel(파일명)
file_name = path + './남북한발전전력량.xlsx'
df = pd.read_excel(file_name)
df

In [ ]:
df = pd.read_excel(file_name)
df

In [ ]:
north_south_df = df.iloc[[1,6],2:]
print(north_south_df)

In [ ]:
north_south_df # 인덱스명 1을 남한, 6을 북한으로 재정의
north_south_df.index = ['남한','북한']
north_south_df

In [ ]:
north_south_df.T

In [ ]:
# 1-3. JSON 파일 -> pd.read_json(파일명)
df = pd.read_json('./data/df_sample.json')
df

In [ ]:
df.index

In [ ]:
# 2. 웹에서 데이터 가져오기
# 2-1. html 페이지에서 table 속성 읽어오기 -> pd.read_html(url)

df = pd.read_html('./data/sample.html')
df

tables = df
len(tables)

In [ ]:
for i in range(len(tables)):
    print("tables : ", i)
    print(tables[i])
    print()

In [ ]:
df = tables[1]
df.set_index('name', inplace=True)
df

In [ ]:
df0 = tables[0]
df0 # Unnamed: 0 컬럼명을 seq 컬럼명으로 재정의, seq를 인덱스로
df0.rename(columns = {'Unnamed: 0' : 'seq'}, inplace = True) # 1. 컬럼명 재정의
df0.set_index('seq', inplace=True) # 2. seq를 인덱스로 설정

df0

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds"
resp = requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows:
    # print(row)
    try:
        # etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        # etf_market = re.findall('\((.*)\|', row.text)
        etf_market = re.findall('\((.*)', row.text)
        # etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)
        etf_ticker = re.findall('\(NYSE Arca(.*)\)', row.text)
        
        # print(etf_name, etf_market, etf_ticker)

        if (len(etf_ticker) > 0) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]

    except AttributeError as err:
        pass

# etfs 딕셔너리 출력
print(etfs)
print('\n')

# etfs 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(etfs)
print(df)

In [93]:
# 4. 데이터 저장하기
# 4-1. csv 파일로 저장 -> 객체.to_csv(파일명)
data = {'name':['Jerry','Riah','Paul'], 'algol':['A','A','B'], 'basic':['C','B','B+'], 'c++': ['B+','C','C+']}
df = pd.DataFrame(data)
df

    name algol basic c++
0  Jerry     A     C  B+
1   Riah     A     B   C
2   Paul     B    B+  C+

In [94]:
df.set_index('name', inplace=True)
df

      algol basic c++
name
Jerry     A     C  B+
Riah      A     B   C
Paul      B    B+  C+

In [95]:
df.to_csv('./data/to_sample.csv')

In [96]:
data = {'name':['Jerry','Riah','Paul'], 'algol':['A','A','B'], 'basic':['C','B','B+'], 'c++': ['B+','C','C+']}
df = pd.DataFrame(data)
df

    name algol basic c++
0  Jerry     A     C  B+
1   Riah     A     B   C
2   Paul     B    B+  C+

In [98]:
df.to_csv('./data/to_sample.csv',index=False) # 인덱스 생성 안하겠다

In [101]:
df.to_json('./data/to_sample.json')

In [102]:
df.to_excel('./data/to_sample.xlsx', index=False)