In [1]:
# 여러개의 데이터프레임을 하나의 엑셀 파일로 저장
import pandas as pd

In [2]:
data1 = {'name':['Jerry','Riah','Paul'], 'algol':['A','A','B'], 'basic':['C','B','B+'], 'c++': ['B+','C','C+']}
data2 = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [3]:
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [4]:
df1.set_index('name', inplace=True)
df1

      algol basic c++
name
Jerry     A     C  B+
Riah      A     B   C
Paul      B    B+  C+

In [5]:
df2.set_index('c0', inplace=True)
df2

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [6]:
# df1을 sheet1으로, df2를 sheet2로 저장
writer = pd.ExcelWriter('./data/df_sample_2.xlsx')
df1.to_excel(writer, sheet_name="sheet1")
df2.to_excel(writer, sheet_name="sheet2")
writer.save()