In [28]:
# seaborn에서 
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [29]:
# seaborn 에서 mpg 데이터셋을 load 하여 데이터의 컬럼명을 확인
# 처음 나오는 컬럼명을 인덱스로 설정
mpg.set_index('mpg', inplace=True)
# print(mpg)
# 100번째 부터 200번째까지의 행과 처음부터 3번째 컬럼까지만 자료를 slice 해서 df1에 저장
# df1 = titanic.loc[:99,['age','fare','pclass']]
df1 = mpg.iloc[100:200,0:3]
df1

      cylinders  displacement  horsepower
mpg
18.0          6         250.0        88.0
23.0          6         198.0        95.0
26.0          4          97.0        46.0
11.0          8         400.0       150.0
12.0          8         400.0       167.0
...         ...           ...         ...
29.0          4          85.0        52.0
24.5          4          98.0        60.0
29.0          4          90.0        70.0
33.0          4          91.0        53.0
20.0          6         225.0       100.0

[100 rows x 3 columns]